## Preprocessing

In [45]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [46]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df_new = application_df.drop(columns = ['EIN', 'NAME']) 
application_df_new.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [47]:
# Determine the number of unique values in each column.
application_df_new.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [48]:
# Look at APPLICATION_TYPE value counts for binning
application_df_new['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [49]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T9','T17','T29','T15','T25','T14','T2','T12','T13']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [50]:
# Look at CLASSIFICATION value counts for binning
classification_list = application_df_new['CLASSIFICATION'].value_counts()
classification_list

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [51]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df_new['CLASSIFICATION'].value_counts().loc[lambda x : x>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [52]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_list[classification_list < 800].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [53]:
# Convert categorical data to numeric with `pd.get_dummies`
application_num_df = pd.get_dummies(application_df_new)
application_num_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [54]:
# Split our preprocessed data into our features and target arrays
X = application_num_df.drop('IS_SUCCESSFUL', axis = 1)
y = application_num_df['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [55]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [56]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=50, activation="relu", input_dim = number_input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_6"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_18 (Dense)            (None, 50)                5850

 dense_19 (Dense)            (None, 30)                1530

 dense_20 (Dense)            (None, 1)                 31

=================================================================
Total params: 7411 (28.95 KB)
Trainable params: 7411 (28.95 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [57]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [58]:
# Train the model
import os
from tensorflow.keras.callbacks import ModelCheckpoint

os.makedirs("checkpoints/", exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}hdf5"

cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq='epoch',
    period=5)


fit_model = nn.fit(X_train_scaled, y_train, epochs= 100, callbacks = [cp_callback])

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.
Epoch 1/100
804/804 [==============================] - 0s 384us/step - loss: 0.5777 - accuracy: 0.7152
Epoch 2/100
804/804 [==============================] - 0s 377us/step - loss: 0.5535 - accuracy: 0.7282
Epoch 3/100
804/804 [==============================] - 0s 377us/step - loss: 0.5508 - accuracy: 0.7299
Epoch 4/100
804/804 [==============================] - 0s 404us/step - loss: 0.5489 - accuracy: 0.7309
Epoch 5/100
802/804 [============================>.] - ETA: 0s - loss: 0.5476 - accuracy: 0.7302
Epoch 5: saving model to checkpoints/weights.05hdf5
804/804 [==============================] - 0s 385us/step - loss: 0.5474 - accuracy: 0.7305
Epoch 6/100
804/804 [==============================] - 0s 377us/step - loss: 0.5462 - accuracy: 0.7323
Epoch 7/100
804/804 [==============================] - 0s 376us/step - loss: 0.5451 - accuracy: 0.7333
Epoch 8/100
804/804 [==============================] - 0s 374us/step - loss: 0.5441 - accuracy: 0.7329
Epoch 9/100
804/804 [==============================] - 0s 375us/step - loss: 0.5439 - accuracy: 0.7330
Epoch 10/100
796/804 [============================>.] - ETA: 0s - loss: 0.5425 - accuracy: 0.7340
Epoch 10: saving model to checkpoints/weights.10hdf5
804/804 [==============================] - 0s 386us/step - loss: 0.5427 - accuracy: 0.7338
Epoch 11/100
804/804 [==============================] - 0s 377us/step - loss: 0.5422 - accuracy: 0.7350
Epoch 12/100
804/804 [==============================] - 0s 426us/step - loss: 0.5411 - accuracy: 0.7343
Epoch 13/100
804/804 [==============================] - 0s 399us/step - loss: 0.5421 - accuracy: 0.7338
Epoch 14/100
804/804 [==============================] - 0s 401us/step - loss: 0.5403 - accuracy: 0.7358
Epoch 15/100
780/804 [============================>.] - ETA: 0s - loss: 0.5407 - accuracy: 0.7353
Epoch 15: saving model to checkpoints/weights.15hdf5
804/804 [==============================] - 0s 396us/step - loss: 0.5406 - accuracy: 0.7350
Epoch 16/100
804/804 [==============================] - 0s 401us/step - loss: 0.5397 - accuracy: 0.7360
Epoch 17/100
804/804 [==============================] - 0s 427us/step - loss: 0.5393 - accuracy: 0.7351
Epoch 18/100
804/804 [==============================] - 0s 395us/step - loss: 0.5389 - accuracy: 0.7352
Epoch 19/100
804/804 [==============================] - 0s 398us/step - loss: 0.5388 - accuracy: 0.7365
Epoch 20/100
754/804 [===========================>..] - ETA: 0s - loss: 0.5388 - accuracy: 0.7376
Epoch 20: saving model to checkpoints/weights.20hdf5
804/804 [==============================] - 0s 408us/step - loss: 0.5382 - accuracy: 0.7379
Epoch 21/100
804/804 [==============================] - 0s 386us/step - loss: 0.5378 - accuracy: 0.7357
Epoch 22/100
804/804 [==============================] - 0s 430us/step - loss: 0.5374 - accuracy: 0.7367
Epoch 23/100
804/804 [==============================] - 0s 399us/step - loss: 0.5370 - accuracy: 0.7370
Epoch 24/100
804/804 [==============================] - 0s 388us/step - loss: 0.5372 - accuracy: 0.7374
Epoch 25/100
786/804 [============================>.] - ETA: 0s - loss: 0.5361 - accuracy: 0.7390
Epoch 25: saving model to checkpoints/weights.25hdf5
804/804 [==============================] - 0s 392us/step - loss: 0.5364 - accuracy: 0.7390
Epoch 26/100
804/804 [==============================] - 0s 434us/step - loss: 0.5366 - accuracy: 0.7370
Epoch 27/100
804/804 [==============================] - 0s 412us/step - loss: 0.5362 - accuracy: 0.7387
Epoch 28/100
804/804 [==============================] - 0s 387us/step - loss: 0.5356 - accuracy: 0.7378
Epoch 29/100
804/804 [==============================] - 0s 399us/step - loss: 0.5362 - accuracy: 0.7385
Epoch 30/100
792/804 [============================>.] - ETA: 0s - loss: 0.5348 - accuracy: 0.7400
Epoch 30: saving model to checkpoints/weights.30hdf5
804/804 [==============================] - 0s 389us/step - loss: 0.5354 - accuracy: 0.7393
Epoch 31/100
804/804 [==============================] - 0s 408us/step - loss: 0.5357 - accuracy: 0.7377
Epoch 32/100
804/804 [==============================] - 0s 404us/step - loss: 0.5349 - accuracy: 0.7389
Epoch 33/100
804/804 [==============================] - 0s 390us/step - loss: 0.5348 - accuracy: 0.7394
Epoch 34/100
804/804 [==============================] - 1s 629us/step - loss: 0.5350 - accuracy: 0.7399
Epoch 35/100
781/804 [============================>.] - ETA: 0s - loss: 0.5354 - accuracy: 0.7387
Epoch 35: saving model to checkpoints/weights.35hdf5
804/804 [==============================] - 0s 458us/step - loss: 0.5346 - accuracy: 0.7396
Epoch 36/100
804/804 [==============================] - 0s 428us/step - loss: 0.5344 - accuracy: 0.7394
Epoch 37/100
804/804 [==============================] - 0s 447us/step - loss: 0.5344 - accuracy: 0.7398
Epoch 38/100
804/804 [==============================] - 0s 440us/step - loss: 0.5342 - accuracy: 0.7388
Epoch 39/100
804/804 [==============================] - 0s 388us/step - loss: 0.5339 - accuracy: 0.7402
Epoch 40/100
750/804 [==========================>...] - ETA: 0s - loss: 0.5341 - accuracy: 0.7394
Epoch 40: saving model to checkpoints/weights.40hdf5
804/804 [==============================] - 0s 409us/step - loss: 0.5337 - accuracy: 0.7397
Epoch 41/100
804/804 [==============================] - 0s 406us/step - loss: 0.5332 - accuracy: 0.7407
Epoch 42/100
804/804 [==============================] - 0s 384us/step - loss: 0.5337 - accuracy: 0.7392
Epoch 43/100
804/804 [==============================] - 0s 381us/step - loss: 0.5332 - accuracy: 0.7395
Epoch 44/100
804/804 [==============================] - 0s 377us/step - loss: 0.5328 - accuracy: 0.7402
Epoch 45/100
779/804 [============================>.] - ETA: 0s - loss: 0.5331 - accuracy: 0.7388
Epoch 45: saving model to checkpoints/weights.45hdf5
804/804 [==============================] - 0s 396us/step - loss: 0.5329 - accuracy: 0.7398
Epoch 46/100
804/804 [==============================] - 0s 470us/step - loss: 0.5329 - accuracy: 0.7408
Epoch 47/100
804/804 [==============================] - 0s 489us/step - loss: 0.5324 - accuracy: 0.7413
Epoch 48/100
804/804 [==============================] - 0s 394us/step - loss: 0.5324 - accuracy: 0.7404
Epoch 49/100
804/804 [==============================] - 0s 390us/step - loss: 0.5324 - accuracy: 0.7417
Epoch 50/100
776/804 [===========================>..] - ETA: 0s - loss: 0.5317 - accuracy: 0.7413
Epoch 50: saving model to checkpoints/weights.50hdf5
804/804 [==============================] - 0s 396us/step - loss: 0.5324 - accuracy: 0.7408
Epoch 51/100
804/804 [==============================] - 0s 391us/step - loss: 0.5318 - accuracy: 0.7406
Epoch 52/100
804/804 [==============================] - 0s 418us/step - loss: 0.5326 - accuracy: 0.7402
Epoch 53/100
804/804 [==============================] - 0s 390us/step - loss: 0.5318 - accuracy: 0.7404
Epoch 54/100
804/804 [==============================] - 0s 395us/step - loss: 0.5315 - accuracy: 0.7411
Epoch 55/100
745/804 [==========================>...] - ETA: 0s - loss: 0.5312 - accuracy: 0.7414
Epoch 55: saving model to checkpoints/weights.55hdf5
804/804 [==============================] - 0s 412us/step - loss: 0.5314 - accuracy: 0.7409
Epoch 56/100
804/804 [==============================] - 0s 392us/step - loss: 0.5316 - accuracy: 0.7412
Epoch 57/100
804/804 [==============================] - 0s 406us/step - loss: 0.5314 - accuracy: 0.7403
Epoch 58/100
804/804 [==============================] - 0s 436us/step - loss: 0.5315 - accuracy: 0.7409
Epoch 59/100
804/804 [==============================] - 0s 391us/step - loss: 0.5312 - accuracy: 0.7413
Epoch 60/100
759/804 [===========================>..] - ETA: 0s - loss: 0.5325 - accuracy: 0.7404
Epoch 60: saving model to checkpoints/weights.60hdf5
804/804 [==============================] - 0s 406us/step - loss: 0.5309 - accuracy: 0.7412
Epoch 61/100
804/804 [==============================] - 0s 400us/step - loss: 0.5309 - accuracy: 0.7403
Epoch 62/100
804/804 [==============================] - 0s 400us/step - loss: 0.5307 - accuracy: 0.7406
Epoch 63/100
804/804 [==============================] - 0s 396us/step - loss: 0.5306 - accuracy: 0.7409
Epoch 64/100
804/804 [==============================] - 0s 433us/step - loss: 0.5298 - accuracy: 0.7417
Epoch 65/100
771/804 [===========================>..] - ETA: 0s - loss: 0.5302 - accuracy: 0.7411
Epoch 65: saving model to checkpoints/weights.65hdf5
804/804 [==============================] - 0s 400us/step - loss: 0.5302 - accuracy: 0.7409
Epoch 66/100
804/804 [==============================] - 0s 393us/step - loss: 0.5300 - accuracy: 0.7418
Epoch 67/100
804/804 [==============================] - 0s 399us/step - loss: 0.5307 - accuracy: 0.7413
Epoch 68/100
804/804 [==============================] - 0s 410us/step - loss: 0.5302 - accuracy: 0.7413
Epoch 69/100
804/804 [==============================] - 0s 397us/step - loss: 0.5302 - accuracy: 0.7416
Epoch 70/100
750/804 [==========================>...] - ETA: 0s - loss: 0.5293 - accuracy: 0.7424
Epoch 70: saving model to checkpoints/weights.70hdf5
804/804 [==============================] - 0s 441us/step - loss: 0.5298 - accuracy: 0.7416
Epoch 71/100
804/804 [==============================] - 0s 419us/step - loss: 0.5298 - accuracy: 0.7412
Epoch 72/100
804/804 [==============================] - 0s 427us/step - loss: 0.5296 - accuracy: 0.7416
Epoch 73/100
804/804 [==============================] - 0s 432us/step - loss: 0.5297 - accuracy: 0.7414
Epoch 74/100
804/804 [==============================] - 0s 410us/step - loss: 0.5298 - accuracy: 0.7422
Epoch 75/100
768/804 [===========================>..] - ETA: 0s - loss: 0.5300 - accuracy: 0.7401
Epoch 75: saving model to checkpoints/weights.75hdf5
804/804 [==============================] - 0s 424us/step - loss: 0.5297 - accuracy: 0.7410
Epoch 76/100
804/804 [==============================] - 0s 426us/step - loss: 0.5294 - accuracy: 0.7419
Epoch 77/100
804/804 [==============================] - 0s 397us/step - loss: 0.5297 - accuracy: 0.7415
Epoch 78/100
804/804 [==============================] - 0s 405us/step - loss: 0.5292 - accuracy: 0.7416
Epoch 79/100
804/804 [==============================] - 0s 394us/step - loss: 0.5295 - accuracy: 0.7425
Epoch 80/100
783/804 [============================>.] - ETA: 0s - loss: 0.5291 - accuracy: 0.7427
Epoch 80: saving model to checkpoints/weights.80hdf5
804/804 [==============================] - 0s 395us/step - loss: 0.5291 - accuracy: 0.7422
Epoch 81/100
804/804 [==============================] - 0s 394us/step - loss: 0.5294 - accuracy: 0.7415
Epoch 82/100
804/804 [==============================] - 0s 417us/step - loss: 0.5291 - accuracy: 0.7417
Epoch 83/100
804/804 [==============================] - 0s 390us/step - loss: 0.5291 - accuracy: 0.7425
Epoch 84/100
804/804 [==============================] - 0s 389us/step - loss: 0.5292 - accuracy: 0.7421
Epoch 85/100
763/804 [===========================>..] - ETA: 0s - loss: 0.5291 - accuracy: 0.7432
Epoch 85: saving model to checkpoints/weights.85hdf5
804/804 [==============================] - 0s 403us/step - loss: 0.5294 - accuracy: 0.7432
Epoch 86/100
804/804 [==============================] - 0s 389us/step - loss: 0.5291 - accuracy: 0.7426
Epoch 87/100
804/804 [==============================] - 0s 394us/step - loss: 0.5288 - accuracy: 0.7423
Epoch 88/100
804/804 [==============================] - 0s 423us/step - loss: 0.5287 - accuracy: 0.7419
Epoch 89/100
804/804 [==============================] - 0s 387us/step - loss: 0.5287 - accuracy: 0.7428
Epoch 90/100
785/804 [============================>.] - ETA: 0s - loss: 0.5281 - accuracy: 0.7426
Epoch 90: saving model to checkpoints/weights.90hdf5
804/804 [==============================] - 0s 393us/step - loss: 0.5285 - accuracy: 0.7422
Epoch 91/100
804/804 [==============================] - 0s 390us/step - loss: 0.5292 - accuracy: 0.7418
Epoch 92/100
804/804 [==============================] - 0s 388us/step - loss: 0.5287 - accuracy: 0.7423
Epoch 93/100
804/804 [==============================] - 0s 387us/step - loss: 0.5290 - accuracy: 0.7422
Epoch 94/100
804/804 [==============================] - 0s 423us/step - loss: 0.5285 - accuracy: 0.7423
Epoch 95/100
785/804 [============================>.] - ETA: 0s - loss: 0.5286 - accuracy: 0.7425
Epoch 95: saving model to checkpoints/weights.95hdf5
804/804 [==============================] - 0s 393us/step - loss: 0.5282 - accuracy: 0.7429
Epoch 96/100
804/804 [==============================] - 0s 386us/step - loss: 0.5282 - accuracy: 0.7427
Epoch 97/100
804/804 [==============================] - 0s 467us/step - loss: 0.5284 - accuracy: 0.7416
Epoch 98/100
804/804 [==============================] - 0s 380us/step - loss: 0.5284 - accuracy: 0.7428
Epoch 99/100
804/804 [==============================] - 0s 420us/step - loss: 0.5278 - accuracy: 0.7429
Epoch 100/100
710/804 [=========================>....] - ETA: 0s - loss: 0.5277 - accuracy: 0.7423
Epoch 100: saving model to checkpoints/weights.100hdf5
804/804 [==============================] - 0s 430us/step - loss: 0.5282 - accuracy: 0.7430

In [59]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5614 - accuracy: 0.7299 - 113ms/epoch - 420us/step
Loss: 0.5613810420036316, Accuracy: 0.729912519454956

In [60]:
# Export our model to HDF5 file

import numpy as np
import h5py
nn.save("AlphabetSoupCharity.h5")

/Users/dollylow/anaconda3/envs/dev/lib/python3.10/site-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(